  NOTE: DO NOT UNCOMMENT, the bootstrap packages are kinda missing and I don't know where to source them yet. Feel free to mess around with everything else though. 
<head>
  <script src="./bootstrap/jquery-3.5.1.slim.min.js></script>
  <script src="./bootstrap/popper.min.js></script>
  <script src="./bootstrap/bootstrap.min.js></script>
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.css>
</head>



<h1>Hello World </h1>
<body>
  programmed to work and not to feel<<br>
  not even sure if this is real <br>
  hello world.
</body>



